.App {
}

.App-header {
  background-color: #444444;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.AlastriaIdentityEntity {
  color: purple;
}

.AlastriaIdentityCredentialRegistry  {
  color: green;
}